---

let fileName = 'Zachoszcz-CV.pdf'
---

<a
    id="download-cv"
    href={`/assets/${fileName}`}
    download
    class="border-2 border-clr-primary rounded-xl px-4 py-2 text-body text-fg-primary hover:bg-clr-primary hover:text-bg-primary select-none"
>
    Download CV
</a>
