---

let fileName = 'Zachoszcz-CV.pdf'
---

<a
    id="download-cv"
    href={`/assets/${fileName}`}
    target="_blank"
    class="border-2 border-clr-primary rounded-xl px-4 py-2 text-body text-fg-primary transition-colors hover:bg-clr-primary hover:text-bg-primary select-none"
>
    <span class="hidden desktop:inline-block">Download&nbsp;</span><span>CV</span>
</a>
