---
interface Props {
    className?: string
    singleContainer?: boolean
}
const { className = '', singleContainer = false } = Astro.props;


---

<div class={`w-full ${singleContainer ? 'desktop:w-content-single' : 'desktop:w-content-double'} ${className}`}>
    <slot />
</div>