---
interface Props {
    className?: string
    singleContainer?: boolean
}
const { className = '', singleContainer = false } = Astro.props;


---

<div class={`${singleContainer ? 'w-content-single' : 'w-content-double'} ${className}`}>
    <slot />
</div>