---
import { Button, Input } from '..';

---

<form
    class="grid grid-cols-4 gap-12 px-20 py-12 w-full"
    method="POST"
    transition-persist="form"
    id="contact-form"
    novalidate
> 
    <Input name="name" label="Name" className="col-span-2"/>
    <Input name="email" label="Email" className="col-span-2" />
    <Input name="subject" label="Subject" className="col-span-4"/>
    <Input name="message" label="Message" inputType="textarea" className="col-span-4 h-48"/>

    <Button type="submit" className="col-span-2">Send</Button>
</form>



<script>
    import { setupListener } from './form.utils';
  
    document.addEventListener('DOMContentLoaded', () => setupListener());
    document.addEventListener('astro:after-swap', () => setupListener())
</script>