---
import { ContentContainer, H2, P, Section } from '../../components';
import { IntroSection } from '../../sections';
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/feats_wide.png';
import type { Translations } from '../../utils/typings';

interface Props {
  T: Translations['FEATS']
}

const { T } = Astro.props;

---

<Layout title="Feats - Professional Accomplishments">
  <main transition:name="feats" class="flex-grow">
    <IntroSection
      id="feats",
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION_LONG}
    />
    
    <!-- Professional Foundation -->
    <Section backgroundColor="secondary">
      <ContentContainer singleContainer>
        <H2>Abstracted Overviews</H2>
        <P>Concise case studies that articulate challenges and solutions, while maintaining confidentiality.</P>
        <!-- Case studies content here -->
      </ContentContainer>
    </Section>

    <!-- Educator and Collaborator -->
    <Section backgroundColor="primary">
      <ContentContainer singleContainer>
        <H2>Component Showcase</H2>
        <P>A demonstration of reusable components designed for modularity and efficiency.</P>
        <!-- Interactive component gallery here -->
      </ContentContainer>
    </Section>

    <!-- Featured Project -->
    <Section backgroundColor="secondary">
      <ContentContainer singleContainer>
        <H2>Featured Project: 'Revamping Spiced Academy's Digital Presence'</H2>
        <P>My recent solo endeavor involved a complete overhaul of Spiced Academy's website. A synthesis of modern tech stacks like NextJS, TypeScript, Tailwind CSS, and GraphQL, the project underscored my commitment to design, functionality, and user experience. With content managed through Contentful CMS, the site became a dynamic blend of adaptability and consistency.</P>
        <!-- Testimonials and curriculum discussion here -->
      </ContentContainer>
    </Section>
  </main>
</Layout>