---
import H1 from './H1.astro';
import P from './P.astro';

---

<H1 className="mb-4">Hello, I'm
    <br><span class="text-dark-clr-p">Z</span>achoszcz,
    <br>M<span class="text-dark-clr-p">artin</span>👋
</H1>
<P>Though many know me as <span class="text-dark-clr-p">Zartin</span>. Whether you call me Martin or Zartin, know that you're getting a blend of foundational knowledge and cutting-edge innovation.</P>
