---
import type { Translations } from '../../utils/typings';
import H1 from './H1.astro';
import P from './P.astro';

interface Props {
    T: Translations['HOME']['INTRO']['TITLE']
}

const { T } = Astro.props;

---

<div class="flex flex-col basis-1/2">
    <H1 className="home-title mb-4">
        {T.GREETING}<br>
        <span class="text-clr-primary">Z</span>achoszcz,<br>
        M<span class="text-clr-primary">artin</span>👋
    </H1>
    <P>{T.INTRODUCTION_1}&nbsp;<span class="text-clr-primary">Zartin</span>.&nbsp;{T.INTRODUCTION_2}</P>
</div>
