---
import { ContentContainer, Form, H2, P, Section } from '../../components';
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/contact.png';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';


interface Props {
  T: Translations['CONTACT']
}

const { T } = Astro.props;

const isGet = Astro.request.method === 'GET';

---

<Layout title="Contact - Get in Touch">
  <main transition:name="contact" class="flex-grow">
    <IntroSection
      id="contact",
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION_LONG}
    />

    <!-- Contact Form -->
    <Section>
      <ContentContainer singleContainer>
        { isGet ? 
            <H2 type="xl">Say Hi 👋</H2>
            <Form/>
          :
          <H2 type="xl" className="mb-12">Thanks for your message!</H2>
          <P type="xl">We will answer shortly</P>
        }
      </ContentContainer>
    </Section>
  </main>
</Layout>