---
import { ContentContainer, Form, H2, Input, Section } from '../../components';
import Layout from '../../layouts/Layout.astro';
import image from '../../assets/images/cards/contact.png';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';


interface Props {
  T: Translations['CONTACT']
}

const { T } = Astro.props;

---

<Layout title="Contact - Get in Touch">
  <main transition:name="contact" class="flex-grow">
    <IntroSection
      id="contact",
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION_LONG}
    />

    <!-- Contact Form -->
    <Section>
      <ContentContainer singleContainer>
        <H2 type="xl">Say Hi 👋</H2>
        <Form/>
      </ContentContainer>
    </Section>
  </main>
</Layout>