---
import { P } from '..';

---

<div class="flex gap-4 items-center">
    <svg width="35" height="38" viewBox="0 0 43 55" fill="none" xmlns="http://www.w3.org/2000/svg">
        <defs>
          <bx:guide x="28.525" y="4.572" angle="0"/>
        </defs>
        <path
            fill="var(--fg-primary)"
            d="M 21.536 54.441 C 21.536 54.441 42.027 35.267 42.027 20.736 C 42.025 15.356 39.865 10.201 36.03 6.429 C 27.995 -1.504 15.075 -1.504 7.042 6.429 C 3.206 10.201 1.045 15.356 1.043 20.736 C 1.043 35.267 21.536 54.441 21.536 54.441 Z M 21.536 30.85 C 18.827 30.851 16.226 29.787 14.295 27.887 C 10.301 23.956 10.301 17.515 14.295 13.582 C 18.311 9.624 24.761 9.624 28.776 13.582 C 32.769 17.515 32.769 23.956 28.776 27.887 C 26.845 29.787 24.244 30.851 21.536 30.85 Z"
        />
    </svg>
    <P type="xl">Berlin, Germany</P>
</div>