---
interface Props {
    type?: 'button' | 'submit',
    className?: string
}

const { type = 'button', className = '' } = Astro.props;

---

<button
    class={`border-2 border-clr-primary rounded-xl px-6 py-2 text-body-xl text-fg-primary focus:bg-clr-primary focus:text-bg-primary hover:bg-clr-primary hover:text-bg-primary ${className}`}
    type={type}
>
    <slot/>
</button>