---
import Button from './Button.astro';

---

<a href="https://calendly.com/martin-zachoszcz/30min" target="_blank" class="w-fit">
    <Button className="w-full desktop:w-fit">Book a meeting</Button>
</a>