---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Contact - Get in Touch">
    <main>
      <h1>Contact</h1>
      <p>If you're interested in collaborating or just want to say hello, feel free to reach out.</p>
  
      <!-- Contact Form -->
      <section id="contact-form">
        <h2>Contact Form</h2>
        <form action="/submit-form" method="post">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required>
  
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required>
  
          <label for="subject">Subject:</label>
          <input type="text" id="subject" name="subject">
  
          <label for="message">Message:</label>
          <textarea id="message" name="message" rows="5" required></textarea>
  
          <button>Send</button>
        </form>
      </section>
    </main>
</Layout>