---
---

<div class="border-4 rounded-full w-20 h-20 animate-spin border-b-transparent border-clr-primary"></div>

<style>
    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>