---
import Layout from '../layouts/Layout.astro';
import { Card, H2, Header, Section, Title} from '../components';

---

<Layout title="Welcome to my Portfolio">
	<!-- Header on each page due to View Transition problem when in Layout -->
	<Header page="home"/>
	<main>
		<Section>
			<Title/>
		</Section>
		<Section backgroundColor="secondary">
			<h2>Craft</h2>
			<p>Your one-stop-shop for web dev excellence.</p>
			<ul role="list" class="tech-card-grid bg-blue">
				<Card
					href="/craft"
					title="Craft"
					body="Dive into my skill set, technologies, and certifications."
				/>
				<Card
					href="/feats"
					title="Feats"
					body="Explore my projects, case studies, and component showcase."
				/>
				<Card
					href="/journey"
					title="Journey"
					body="My career timeline and milestones."
				/>
				<Card
					href="/contact"
					title="Contact"
					body="Get in touch for collaboration or inquiries."
				/>
			</ul>
		</Section>
	</main>
</Layout>

<style>
</style>
