---
import Layout from '../layouts/Layout.astro';
import { Card, Header, Section, Title, ContentContainer, MyImage } from '../components';
import zartin1 from '../assets/images/zartin_1.jpg';

---

<Layout title="Welcome to my Portfolio">
	<!-- Header on each page due to View Transition problem when in Layout -->
	<Header page="home"/>
	<main>
		<Section>
			<ContentContainer>
				<Title/>
			</ContentContainer>
			<ContentContainer className="flex justify-center items-center">
				<MyImage src={zartin1} alt="portrait of Martin - ai generated" width={400}/>
			</ContentContainer>
		</Section>
		<Section backgroundColor="secondary">
			<ContentContainer>
				<h2>Craft</h2>
				<p>Your one-stop-shop for web dev excellence.</p>
				<ul role="list" class="flex flex-col tech-card-grid bg-blue gap-20">
					<Card
						href="/craft"
						title="Craft"
						body="Dive into my skill set, technologies, and certifications."
					/>
					<Card
						href="/feats"
						title="Feats"
						body="Explore my projects, case studies, and component showcase."
					/>
					<Card
						href="/journey"
						title="Journey"
						body="My career timeline and milestones."
					/>
					<Card
						href="/contact"
						title="Contact"
						body="Get in touch for collaboration or inquiries."
					/>
				</ul>
			</ContentContainer>
		</Section>
	</main>
</Layout>

<style>
</style>
