---
import Link from '../Link/Link.astro';
import Logo from '../Icons/Logo.astro';
import ThemeToggle from '../Icons/ThemeToggle.astro';

interface Props {
    page: string;
}

const { page } = Astro.props;

const menu = [
    {
        id: 'home',
        link: '',
        name: 'Home'
    }, 
    {
        id: 'craft',
        link: 'craft',
        name: 'Craft'
    },
    {
        id: 'feats',
        link: 'feats',
        name: 'Feats'
    },
    {
        id: 'journey',
        link: 'journey',
        name: 'Journey'
    },
    {
        id: 'contact',
        link: 'contact',
        name: 'Contact'
    }
];

const isActive = (linkId: string) => {
    const currentPage = page || 'home';
    return currentPage === linkId;
}

---

<header
    class="flex gap-4 items-center justify-between bg-dark-bg-p p-8 z-10 sticky shadow-header shadow-fg-primary"
>
    <a href="/" rel="prefetch-intent">
        <Logo />
    </a>
    <div class="grid grid-cols-5 gap-10">
        {menu.map(menuItem => 
            <Link linkInfo={menuItem} active={isActive(menuItem.id)}/>
        )}
    </div>
    <ThemeToggle/>
</header>

<script>
    // Transitions API workaround for Header links to work
    const removeTransitionAttribute = (evt?: AnimationEvent) => {
        if (!evt || evt.animationName === '-ua-view-transition-fade-out') {
            const h1El = document.getElementsByTagName('h1')?.item(0);
            h1El?.removeAttribute('data-astro-transition-scope');
        }
    }

    document.addEventListener('animationend', removeTransitionAttribute);
    removeTransitionAttribute();
</script>
