---
import Logo from '../Icons/Logo.astro';
import DownloadCV from '../DownloadCV/DownloadCV.astro';
import ThemeToggle from '../Icons/ThemeToggle.astro';
import { BackIcon } from '..';

interface Props {
    isHome?: boolean;
}

const { isHome } = Astro.props;

const headerClasses = `fixed top-0 w-screen flex gap-4 justify-center bg-dark-bg-p px-12 py-8 z-50 bg-bg-primary-70 shadow-header backdrop-blur-lg shadow-fg-primary h-header`;

---

<header
    id="header"
    class={headerClasses}
>
    <div class="flex gap-4 items-center justify-between w-200">
        { isHome ? 
            <Logo/>
             :
            <BackIcon/>
        }
        <div class="flex gap-12 items-center">
            <ThemeToggle/>
            <DownloadCV/>
        </div>
    </div>
</header>
