---
import Logo from '../Icons/Logo.astro';
import DownloadCV from '../DownloadCV/DownloadCV.astro';
import ThemeToggle from '../Icons/ThemeToggle.astro';
import LangLink from '../LangLink/LangLink.astro';
import BackIcon from '../Icons/Back.astro';

interface Props {
    showLogo?: boolean;
}

const { showLogo } = Astro.props;

const headerClasses = `fixed top-0 w-screen flex gap-4 justify-center bg-dark-bg-p px-12 py-8 z-50 bg-bg-primary-70 shadow-header backdrop-blur-lg shadow-fg-primary h-header`;

const animateHeader = {
  old: {
    name: 'toHeaderOld',
    fillMode: 'forwards',
  },
  new: {
    name: 'toHeaderNew',
    fillMode: 'backwards',
  }
};

const myHeaderTransition = {
  forwards: animateHeader,
  backwards: animateHeader,
};
---

<header
    id="header"
    class={headerClasses}
    transition:name="header"
    transition:animate={myHeaderTransition}
>
    <div class="flex gap-4 items-center justify-between w-200">
        { showLogo ? 
          <LangLink href="/">
            <Logo/>
          </LangLink>
          :
          <BackIcon/>
        }

        <div class="flex gap-12 items-center">
            <ThemeToggle/>
            <DownloadCV/>
        </div>
    </div>
</header>
