---
import { P } from '..';
interface Props {
    station: { date: string, event: string },
    position?: 'top' | 'bottom' | 'default'
}

const { station, position = 'default' } = Astro.props;

---

<div class="timeline h-full absolute top-0 self-center flex flex-col justify-center items-center z-10">
    <div class="h-full w-2 absolute top-0 border-clr-primary overflow-visible border-x">
        <!-- sentinel for Intersectionabserver -->
        <div class="timeline-sentinel h-0 w-full absolute top-24 left-0 pointer-events-none"></div>
        <!-- BG that will scale from top to bottom once a threshold is met -->
        <div class="timeline-bg h-full bg-clr-primary transition-transform origin-top duration-500 ease-linear"></div>
    </div>
    <div class="content">
        <P>{station.date}</P>
    </div>
    <!-- top bubble -->
    <!-- <div class="absolute h-5 w-5 rounded-full bg-clr-primary top-0 -translate-x-2 -translate-y-2"></div> -->
    <!-- bottom bubble -->
    <!-- <div class="absolute h-5 w-5 rounded-full bg-clr-primary bottom-0 -translate-x-2 translate-y-2"></div> -->
</div>


<style>
    .timeline-bg {
        transform: scaleY(0);
    }
    .timeline-sentinel.half-visible + .timeline-bg {
        transform: scaleY(0.5);
    }
    .timeline-sentinel.fully-visible + .timeline-bg {
        transition-delay: 0ms;
        transform: scaleY(1.5);
    }
</style>
