---
interface Props {
    position?: 'top' | 'bottom' | 'default'
}

const { position = 'default' } = Astro.props;

let timelineHeight = '';
if (position === 'top') {
    timelineHeight = 'h-[calc(100%_-_2.5rem)] top-10';
} else if (position === 'bottom') {
    timelineHeight = 'h-[calc(100%_-_2.5rem)] bottom-10';
} else {
    timelineHeight = 'h-full top-0';
}

---

<div class={`timeline ${timelineHeight} absolute self-center flex flex-col justify-center items-center z-10`}>
    <div class="timeline-sentinel h-0 w-full absolute top-24 left-0 pointer-events-none"></div>
    { position === 'top' &&
        // Top Bubble
        <div class="absolute h-5 w-5 rounded-full bg-clr-primary top-0 -translate-y-2"></div>
    }
    <!-- Upper timeline half -->
    <div class="upper-half h-1/2 w-2 absolute top-0 border-clr-primary overflow-visible border-x">
        <div class="timeline-bg h-full bg-clr-primary transition-transform origin-top duration-500 ease-linear"></div>
    </div>
    <div class="absolute h-5 w-5 rounded-full bg-clr-primary bottom-0 top-1/2 -translate-y-1/2"></div>
    <!-- Lower timeline half -->
    <div class="lower-half h-1/2 w-2 absolute top-1/2 border-clr-primary overflow-visible border-x">
        <div class="timeline-bg h-full bg-clr-primary transition-transform origin-top duration-500 ease-linear"></div>
    </div>
    
    { position === 'bottom' &&
        // bottom bubble
        <div class="absolute h-5 w-5 rounded-full bg-clr-primary bottom-0 translate-y-2"></div>
    }
</div>


<style is:global>
    .timeline-bg {
        transform: scaleY(0);
    }
    .journey-section.no-transition .timeline-bg {
        transition-duration: 0ms;
        transition-delay: 0ms;
    }
    .upper-half.visible .timeline-bg,
    .lower-half.visible .timeline-bg {
        transform: scaleY(1);
    }
    .journey-section:not(.no-transition) .upper-half.visible .timeline-bg {
        transition-delay: 500ms;
    }
    .journey-section:last-of-type:not(.no-transition) .lower-half.visible .timeline-bg {
        transition-delay: 1000ms;
    }
</style>
