---
import { colorMap } from '../../utils/helper';


interface Props {
	backgroundColor?: 'primary' | 'secondary';
}
const { backgroundColor = 'primary'} = Astro.props;


let bgColorClass = colorMap.background[backgroundColor];
---

<section class={`w-screen px-20 py-6 ${bgColorClass}`}>
    <slot />
</section>