---
import { colorMap } from '../../utils/helper';


interface Props {
	backgroundColor?: 'primary' | 'secondary';
    className?: string
}
const { backgroundColor = 'primary', className = ''} = Astro.props;


let bgColorClass = colorMap.background[backgroundColor];
---

<section
    class={`w-screen min-h-section p-8 desktop:p-20 flex flex-col desktop:flex-row justify-center overflow-hidden relative items-center gap-40 ${bgColorClass} ${className}`}
>
    <slot />
</section>