---
import { Image } from 'astro:assets';
import githubIcon from '../../assets/icons/github.svg';
import location from '../../assets/icons/location.svg';
import linkedinIcon from '../../assets/icons/linkedin.svg';
import mailIcon from '../../assets/icons/mail.svg';
import astroIcon from '../../assets/icons/technologies/10-icon-astro.svg';
import { AstroIcon, GithubIcon, LinkedinIcon, MailIcon } from '..';



---

<footer class="relative w-screen px-12 py-8 bg-bg-secondary shadow-footer shadow-fg-primary flex justify-center">
    <div class="w-200 flex flex-col desktop:flex-row justify-between items-center gap-8">
        <div class="flex gap-8 items-center">
            <a
                href="https://www.linkedin.com/in/zachoszcz/"
                target="_blank"
                class="hover:scale-110 transition-transform"
                aria-label="My LinkedIn profile"
            >
                <LinkedinIcon/>
                <!-- <Image src={githubIcon} alt="github icon" width="42" height="42"/> -->
            </a>
            <!-- <div class="flex items-center gap-2">
                <Image src={location} alt="github icon" width="46" height="46"/>
                <span class="text-body text-fg-primary">Berlin, Germany</span>
            </div> -->
            <a
                href="https://github.com/zartinn"
                target="_blank"
                class="hover:scale-110 transition-transform"
                aria-label="my github page"
            >
                <GithubIcon/>
                <!-- <Image src={linkedinIcon} alt="linkedin icon" width="42" height="42"/> -->
            </a>
            <a
                href="mailto:martin.zachoszcz@gmail.com"
                target="_blank"
                class="hover:scale-110 transition-transform"
                aria-label="mail me"
            >
                <MailIcon/>
                <!-- <Image src={mailIcon} alt="mail icon" width="36" height="36"/> -->
            </a>
        </div>
        <div class="flex flex-col gap-6 items-center desktop:items-end">
            <span class="text-body-small text-fg-primary text-center desktop:text-right">
                Designed and
                <a href="https://github.com/zartinn/website" target="_blank" class="underline text-fg-primary">developed</a>
                <br>by Martin Zachoszcz © {new Date().getFullYear()}
            </span>
            <div class="flex">
                <span class="text-body-small text-fg-primary">Build with </span>
                <a href="https://astro.build/" class="flex gap-2 text-fg-primary" target="_blank">
                    <span class="text-fg-primary">&nbsp;Astro</span>
                    <AstroIcon />
                </a>
            </div>
        </div>
    </div>
</footer>