---
import Moon from './Moon.astro';
import Sun from './Sun.astro';
---

<div id="toggle-icon" class="cursor-pointer w-8" transition:persist="theme-toggle">
    <Moon/>
    <Sun/>
</div>

<script>
    let downloadCVLink: HTMLElement | null = null;
    const handleClick = () => {
        const currentTheme = localStorage.getItem('theme') || 'light';
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            const root = document.documentElement;
            root.setAttribute('theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const cvFileName = newTheme === 'dark' ? 'Zachoszcz-CV-dark.pdf' : 'Zachoszcz-CV.pdf'
            downloadCVLink?.setAttribute('href', `/assets/${cvFileName}`);
    }

    const toggleEvent = () => {
        const toggleIcon = document.getElementById("toggle-icon");
        downloadCVLink = document.getElementById('download-cv');
        toggleIcon?.addEventListener('click', handleClick);
    }

    document.addEventListener('DOMContentLoaded', toggleEvent);
    document.addEventListener('astro:page-load', toggleEvent);
</script>