---
import Moon from './Moon.astro';
import Sun from './Sun.astro';
---

<div id="toggle-icon" class="cursor-pointer w-8">
    <Moon/>
    <Sun/>
</div>

<script>
    const toggleEvent = () => {
        const toggleIcon = document.getElementById("toggle-icon");
        const downloadCVLink = document.getElementById('download-cv');
        toggleIcon?.addEventListener('click', () => {
            const currentTheme = localStorage.getItem('theme') || 'light';
            const newTheme = currentTheme === 'light' ? 'dark' : 'light';
            const root = document.documentElement;
            root.setAttribute('theme', newTheme);
            localStorage.setItem('theme', newTheme);

            const cvFileName = newTheme === 'dark' ? 'Zachoszcz-CV-dark.pdf' : 'Zachoszcz-CV.pdf'
            downloadCVLink?.setAttribute('href', `/assets/${cvFileName}`);
        });
    }

    window.addEventListener("DOMContentLoaded", () => toggleEvent());
    document.addEventListener("astro:after-swap", () => toggleEvent());
</script>