---
import { Image } from 'astro:assets';

interface Props {
    src: ImageMetadata,
    alt: string,
    width: number,
    height?: number
}

const { src, alt, width, height } = Astro.props;

---


<div class="flex rounded-full border-clr-primary border-4 overflow-hidden">
    <Image class="hover:scale-105 transition-transform duration-500" src={src} alt={alt} width={width} height={height}/>
</div>