---
import Layout from '../../layouts/Layout.astro';
import { ContentContainer, H2, Header, Section } from '../../components';
import image from '../../assets/images/cards/craft.png';
import type { Translations } from '../../utils/typings';
import { IntroSection } from '../../sections';


interface Props {
  T: Translations['CRAFT']
}

const { T } = Astro.props;


---

<Layout title="Craft - My Expertise">
  <!-- <Header page="craft"/> -->
  <main transition:name="craft">
    <IntroSection
      id="craft",
      image={image}
      title={T.TITLE}
      description={T.DESCRIPTION}
    />

    <!-- Skills Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2>Skills</H2>
        <ul>
          <li>Backend Development</li>
          <li>Frontend Development</li>
          <li>DevOps</li>
          <!-- Add more as needed -->
        </ul>
      </ContentContainer>
    </Section>

    <!-- Technologies Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2>Technologies</H2>
        <ul>
          <li>JavaScript</li>
          <li>Python</li>
          <li>Docker</li>
          <!-- Add more as needed -->
        </ul>
      </ContentContainer>
    </Section>

    <!-- Certifications Section -->
    <Section>
      <ContentContainer singleContainer>
        <H2>Certifications</H2>
        <ul>
          <li>AWS Certified Solutions Architect</li>
          <li>Google Cloud Professional Cloud Architect</li>
          <!-- Add more as needed -->
        </ul>
      </ContentContainer>
    </Section>
  </main>
</Layout>